@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next,
main {
  height: 100%;
}

/* 애플 스타일의 부드러운 글꼴 렌더링 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  /* Next.js 폰트 로더를 사용하면 더 좋습니다. */
  background-color: #f5f5f7; /* 애플 라이트 모드 배경색과 유사 */
  color: #1d1d1f; /* 애플 다크 텍스트와 유사 */
}